/* Home.css */

/* Default styles */
.section-background {
  background-image: url('../assets/recipe.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  align-items: center; /* Center items on both large and small screens */
  padding: 20px;
}

/* Home.css */

.welcome-message {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center; /* Center the text */
  font-weight: 600; /* Make the text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow for depth */
  letter-spacing: 1px; /* Increase letter spacing for readability */
  line-height: 1.5; /* Increase line height for better vertical spacing */
}
.username {
  color: #ff4080; /* Change the color as needed */
  font-weight: bold; /* Apply bold style to the username */
  /* Add any other styles you want for the username */
}

/* Add animation for a subtle effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome-message p {
  animation: fadeIn 1s ease-out; /* Apply the animation */
}

.profile-button button {
  outline: 0 !important;
  border: 0 !important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

/* Home.css */

/* Your existing styles */

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .footer {
    font-size: 14px; /* Adjust the font size for small screens */
  }
}


/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .section-background {
    padding: 10px;
  }

  .welcome-message {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .profile-button {
    margin-bottom: 10px; /* Move the user icon to the top for small screens */
  }
}
